<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        img.logo{
            float:left;
            height:50px;
            width:200px;
            padding-right: 20px;
        }
        body {
            background-image: url(https://wallpaperaccess.com/full/1092570.jpg);
            /*background-image: url();*/
        }
        h1, h2, h3, h4, h5 {
            background-color: lightgray;
            font-family: Algerian;
            text-align:center;
        }
        p {
            background-color: lightgray;
            font-family:'Copperplate Gothic';
            
        }
        li{
            color:yellow;
        }
    </style>
</head>
<body>
    @*<div class="nav1">*@
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #DCDCDC; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a href="~/HomePage1/Menu"><img class="logo" src="https://www.pngfind.com/pngs/m/613-6131136_2nd-convocation-ceremony-dit-university-dehradun-logo-hd.png" /></a>
            </div>
            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav">
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a style="color: black; font-family: Algerian; " href="~/HomePage2/menu2">HOME</a></li>
                        if (User.IsInRole("Student") || User.IsInRole("teacher"))
                        {
                            @*<li >@Html.ActionLink("Results Section", "Index", "results", new { style = "color:black;font-family:Algerian;" })</li>*@
                            <li><a style="color: black; font-family: Algerian; " href="~/results/Index">RESULT SECTION</a></li>
                        }
                        if (User.IsInRole("Student") || User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Add Student", "Create", "stuDetails", new { style = "color:black;font-family:Algerian;" })</li>
                        }
                        @*<li >@Html.ActionLink("Student List", "Index", "stuDetails")</li>*@
                        <li><a style="color: black; font-family: Algerian; " href="~/stuDetails/Index">STUDENT LIST</a></li>
                        
                        <li><a style="color: black; font-family: Algerian; ">Hello - @User.Identity.Name</a></li>
                        @*<li>@Html.ActionLink("Logout", "Logout", "Signup", new { style = "color:black;font-family:Algerian;" })</li>*@
                        <li><a style="color: black; font-family: Algerian; " href="~/Signup/Logout">LOGOUT</a></li>

                    }
                    else
                    {
                        @*<li>@Html.ActionLink("Login", "Login", "Signup", new { style = "color:black;font-family:Algerian;" })</li>*@
                        <li><a style="color: black; font-family: Algerian; " href="~/Signup/Login">LOGIN</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Deepti Institute of Technology</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
